/********** Global Selectors **********/

/*** Generic Globals ***/
:root {
  font-size: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: 'fira sans';
  font-weight: 700;
}
h1 {
  font-size: 7.2rem;
  line-height: 10.2rem;
}

h2 {
  font-size: 5.5rem;
  line-height: 6.4rem;
}

h3 {
  font-size: 3.6rem;
  line-height: 5.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.8rem;
}

li {
  font-family: 'montserrat';
  font-size: 1.6rem;
  line-height: 2.8rem;
}

p {
  font-family: 'montserrat';
  font-size: 1.6rem;
  line-height: 2.8rem;
}

span {
  font-weight: 400;
}

.blue-card {
  background-color: rgba(32, 169, 241, 0.4);
  border-radius: 30px;
}

.button-link {
  border-radius: 5px;
  font-family: 'open sans';
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: white;
  background-color: #FF7680;
  padding: 1.2rem .7rem;
}

.centered {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1024px;
}

.flex-container {
  display: flex;
  width: 100%;
}

.left-half {
  display: flex;
}

.large-body {
  font-size: 2.6rem;
  line-height: 3.9rem;
}

.right-half {
  display: flex;
}

.small-body {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.tan-card {
  background-color: #F0ECE3;
  border-radius: 30px;
}

/*** Nav Bar Selectors ***/
nav {
  align-items: center;
  display: flex;
  margin: 2.4rem 0 7.2rem 0;
}

#left-nav {
  flex-basis: 50%;
}

#right-nav {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

nav li a:link {
  color: #002166;
  font-family: 'open sans';
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 4.8rem;
  text-decoration: none;
}

nav li a:hover {
  color: #20A9F1;
}

nav li a:active {
  color: #FF7680;
}

nav ul {
  display: flex;
}

/*** Footer Selectors ***/
footer {
  background-color: #080808;
  display: flex;
  height: 8.8rem;
  justify-content: center;
  margin-top: 7.2rem;
  width: 100%;
}

footer h4 {
  color: white;
}

#footer-content {
  display: flex;
  align-items: center;
}

#footer-content a {
  margin-left: 2.4rem;
}

/********** Homepage Selectors **********/

/*** Hero Section ***/
#hero-container {
  align-items: center;
}
#hero-container h2 {
  margin: 0 2.4rem;
}

#script-slate-container {
  margin-top: 8.8rem;
  align-items: center;
}

/*** Script Slate Section ***/
#script-slate-container .left-half {
  flex-direction: column;
  align-items: center;
}

#script-slate-container .right-half {
  margin: 2.4rem;
}

#script-slate-container .left-half p {
  margin: 1.6rem;
}

/*********** About Page Selectors **********/
#about-header {
  margin-bottom: 2.4rem;
}

#why-ux .right-half{
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;
}

#why-ux .right-half p {
  margin: .2rem 2.4rem 2rem 0;
}

#full-story {
  margin-top: 7.2rem;
}
#full-story .left-half {
  flex: 65%;
  flex-direction: column;
  padding-right: 2.4rem;
}
#full-story .right-half {
  flex-direction: column;
  align-items: flex-end;
}

#full-story .right-half img {
  margin-bottom: 2.4rem;
}

#full-story h2 {
  margin-bottom: .7rem;
}

/********** Resume Selectors **********/

.job {
  margin-bottom: 2.4rem;
}

.job ul {
  list-style: disc outside;
  padding-left: 2.4rem;
}

.resume-header {
  color: #002166;
}

.resume-time {
  color: #787878;
}

.resume-left {
  flex-direction: column;
  flex: 40%;
}

.resume-right {
  flex-direction: column;
  margin-left: 7.2rem;
}

.skill-section {
  margin-bottom: 2.4rem;
}


#resume-pdf {
  margin-top: 4rem;
  align-self: flex-start;
}

#resume-summary {
  margin-bottom: 4.8rem;
}
